<% provide(:title, "#{@question.title}") %>

<div class="container">
	<h1><%= @question.title %></h1>
	<p><%= @question.description %></p>
	<dd>by <%= link_to @question.user.name, @question.user %> posted on <%= @question.created_at %></dd>
	<%= link_to "Add a comment", new_comment_path %>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<%= form_for(@answer) do |f| %>
			<%= f.label :answer %>
			<%= f.text_area :description, class: 'form-control' %>

			<%= f.submit "Post your answer", class: "btn btn-primary" %>
			<% end %>

			<% if session[:user_id].nil? %>
				<p> New user? <%= link_to "Sign up", signup_path %></p>
				<p> Existing user? <%= link_to "Log in", login_path %></p>
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h3>Answers</h3>
			<% @question.answers.each do |answer| %>
			<div class="answers">
				<dt><%= answer.description %></dt>
				<dd>by <%= link_to answer.user.name, answer.user %> posted on <%= answer.created_at %></dd>
			</div>
			<% end %>
		</div>
	</div>
</div>