<%= render 'questions/voting_bar', :type => answer %>

<li id="answer-<%= answer.id %>">
	
	<h4><%= answer.description %></h4>
	<dd>by <%= link_to answer.user.name, answer.user %> 
	| posted <%= time_ago_in_words(answer.created_at) %> ago</dd>
	
	
	<div class="comments">
		<%= render answer.comments %>
		<%= link_to "Add a comment", new_comment_path, class: "new_comment" %>
		<%= render 'comments/addcomment', :type => answer %>
	</div>

</li>	
	